.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
}

.box {
    margin: 0 auto;
    max-height: 145px;  /* not the prettiest solution */
}

#adjective-count, #adverb-count, #noun-count, #verb-count {
    font-size: 2.5rem;
}

#adjective-count {
    color: turquoise;
}

#adverb-count {
    color:cadetblue;
}

#noun-count {
    color:deepskyblue;
}

#verb-count{
    color: crimson;
}
